*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.log
*.obj
*.ilk
*.aps
bin/*.lib
Dependencies/JDK/bin/
Dependencies/JDK/jre/
Dependencies/JDK/lib/
Dependencies/JDK/ActPanel.dll
Dependencies/JDK/CHANGES
Dependencies/JDK/COPYRIGHT
Dependencies/JDK/LICENSE
Dependencies/JDK/msvcrt.dll
Dependencies/JDK/README
Dependencies/JDK/readme.html
Documentation/bin/*.exe
Documentation/bin/*.cgi
MISC/
obj/
Source/ComDll/BuildPrimaryInterop/disp_ids.h
Source/ComDll/BuildPrimaryInterop/RemoteBridge.*
Source/ComDll/dlldata.c
Source/ComDll/dlldata64.c
Source/ComDll/RemoteBridge_i*.c
Source/ComDll/RemoteBridge_i*.h
Source/ComDll/RemoteBridge_p*.h
Source/HelperDll/Java/Asm/1/
Source/HelperDll/Java/JNI/Helpers/
Source/MiscUtils/Certificate/nektra/
